CompileFlags:
  CompilationDatabase: "build"
  Add:
    - -mlong-calls
    - -fno-builtin-memcpy
    - -D__GNUC__=14
    - -isystem
    - "C:/Espressif/tools/xtensa-esp-elf/esp-14.2.0_20251107/xtensa-esp-elf/xtensa-esp-elf/include"
    - -isystem
    - "C:/Espressif/tools/xtensa-esp-elf/esp-14.2.0_20251107/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include"
    - -isystem
    - "C:/esp/v5.5.2/esp-idf/components/newlib/platform_include"
    - -isystem
    - "C:/esp/v5.5.2/esp-idf/components/esp_common/include"
    - -isystem
    - "C:/esp/v5.5.2/esp-idf/components/soc/include"
    - -isystem
    - "C:/esp/v5.5.2/esp-idf/components/hal/include"
  Remove:
    - -mdisable-hardware-atomics
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mfix-esp32-erratum-72
    - -mno-longcalls
    - -mlongcalls
